{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shubham Vichare</title>

    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/sh.jpg' %}">
                    <hr>
                    <h4>Hi i am Shubham!</h4>
                    <p>I love coding, doing research and collaborating</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body">
                    <h4>I am a Django Developer looking for a Job</h4>
                    <hr>
                    <p>I am guy with the IT background. I've done 6 month internship with Banao Technologies where my role is to provide company's services like Web Developer, App Developer, Software Developer
                        and many more to help our clients their busniess grow.</p>
                    <p>My goal is to work in a company where i can develop my skills. I want to see myself as a growing employee
                        and working  with your company helps me grow personally and professionally as well.   </p>   
                        
                    <ul class="social-links">
                    <li><img class="social" src="{% static 'images/fb.png' %}"></li>
                    <li><img class="social" src="{% static 'images/insta.png' %}"></li>
                    <li><img class="social" src="{% static 'images/mail.png' %}"></li>
                    <li><img class="social" src="{% static 'images/twiter.png' %}"></li>
                    </ul>    

                </div>
            </div>
        </div>
    <br>
     <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h4>My Experience with Coding</h4>
                <hr>
                <p>In Collage Me and My friend we created a project called online Book Store. I handeled Front-end Department.</p>
                <p>In my free time I create project in java-script and python.I upload it on git-hub </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body">
                <h4>Skills I Learn</h4>
                <hr>
                <p> C++,Html/CSS,java-script,python,Mysql-RDBMS,Oracle</p>
                <p>I like Python because its Easy to learn and code </p>
                <p> 
                    Consistently, Python is ranking as one of the easiest programming languages to learn. 
                    This is due to its high reliability and simple syntax which is quite similar to plain text. 
                    So, you can write a Python code simply and execute it much faster than the other programming languages.
                </p>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h4>As a Web Developer I like Django Framework</h4>
                    <hr>
                    <p>Django has a powerful template engine and its own markup language with many tools.
                    Templates are files with HTML code that's used to render data.</p>
                    <p>The contents of these files can be static or dynamic.</p>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="card card-body">
                    <h4>Why I like Web Development</h4>
                    <hr>
                    <p>Web development is amongst those jobs that have a significantly higher job satisfaction rate.    
                    There are several reasons that web developers are so satisfied with their jobs – salary, work-life balance, and flexibility</p>
                </div>
            </div>
    </div>
    <br>
</body>

</html>